<div class="articles">
	<input type="text" class="number" ng-model="number1" placeholder="number1"><br/>
	<input type="text" class="number" ng-model="number2" placeholder="number2"><br/>
	<input type="radio" name="tinhtoan" ng-model="congSelected" value="cong">+
	<input type="radio" name="tinhtoan" ng-model="truSelected" value="tru">-
	<input type="radio" name="tinhtoan" ng-model="nhanSelected" value="nhan">x
	<input type="radio" name="tinhtoan" ng-model="chiaSelected" value="chia">/<br/>
	<BUTTON id="btntinhToan" ng-click="sayHello()">Tinh Toan</BUTTON>
	<div>{{result}}</div>

	<div>{{result2}}</div>
</div>