	<!DOCTYPE html>
	<html ng-app="angularJsTut">
	<head>
	<title>Angularjs Tutorial</title>
	<link rel="stylesheet" type="text/css" href="css/tut.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.css">
	<script type="text/javascript" src="javascript/angular-1.4.5/angular.min.js"></script> <!--single page-->
	<script type="text/javascript" src="javascript/angular-1.4.5/angular-route.js"></script>
	<script type="text/javascript" src="javascript/app/app.js"></script>
	<script type="text/javascript" src="javascript/app/service/myservice.js"></script>
	<script type="text/javascript" src="javascript/app/controller/index-controller.js"></script>
	<script type="text/javascript" src="javascript/app/controller/article-controller.js"></script>
	<script type="text/javascript" src="javascript/app/controller/contact-controller.js"></script>
	<script type="text/javascript" src="javascript/app/controller/ebook-controller.js"></script>
	<script type="text/javascript" src="javascript/app/controller/sub-article-controller.js"></script>
	<script type="text/javascript" src="javascript/app/directive/my-directive.js"></script>

	</head>
	<body>
	<div class="contain" ng-controller="IndexCtrl">
	<div class="top">
		<a href="#/articles">Articles</a>
		<a href="#/contact">Contact</a>
		<a href="#/ebook">Ebook</a>
		<button class="btn btn-default btn-lg">default</button>
		<button class="btn btn-primary btn-sm">primary</button>
		<button class="btn btn-success btn-xs">success</button>
		<button class="btn btn-info">Info</button>
		<button class="btn btn-warning">Warning</button>
		<button class="btn btn-danger disabled">Danger</button>
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group btn-group-lg" role="group" aria-lable="">
				<button class="btn btn-default">1</button>
				<button class="btn btn-default">2</button>
				<button class="btn btn-default">3</button>
			</div>
			<div class="btn-group btn-group-sm" role="group" aria-lable="">
				<button class="btn btn-default">4</button>
				<button class="btn btn-default">5</button>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="left">left
		</div>
		<div class="center" ng-view>
		</div>
		<div class="right">right
		</div>
	</div>
	<div class="bottom">bottom
	</div>
	</div>
	</body>
	</html>

