<div class="dashboard">
<div class="dashboard1">
	<div class="node">
		<span class="glyphicon glyphicon-th-large my-icon"></span>
		<label>Nodes</label>
		<label>(3)</label>
		<div class="noderight">
			<button class="createnode">CREATE NODE</button>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr class="title">
				<td>Name</td>
				<td>Type</td>
				<td>Updated</td>
			</tr>
			<tbody>
				<tr>
					<td><a href="#">a1</a></td>
					<td>compute</td>
					<td>a month ago</td>
				</tr>
				<tr>
					<td><a href="#">a2</a></td>
					<td>enclosure</td>
					<td>19 days ago</td>
				</tr>
				<tr>
					<td><a href="#">a3</a></td>
					<td>compute</td>
					<td>19 days ago</td>
				</tr>
			</tbody>
		</thead>
	</table>
</div>
<div class="dashboard2">
	<div class="workflow">
	</div>
</div>
</div>