<div class="containregister">
	<h3>Company Name</h3><br/>
	<div class="duongke"></div>
</div>
<div class="register">
		<label>Your Name</label><br/>
		<div class="input-group">
			<span class="input-group-addon" id="yourname"><span class="glyphicon glyphicon-user"></span></span>
			<input type="text" class="form-control" placeholder="your name">	<br/>
		</div>
		<label>Your Email</label><br/>
		<div class="input-group">
			<span class="input-group-addon" id="yourname"><span class="glyphicon glyphicon-envelope"></span></span>
			<input type="text" class="form-control" placeholder="your email"><br/>
		</div>
		<label>Username</label><br/>
		<div class="input-group">
			<span class="input-group-addon" id="yourname"><span class="glyphicon glyphicon-user"></span></span>
			<input type="text" class="form-control" placeholder="username"><br/>
		</div>
		<label>Password</label><br/>
		<div class="input-group">
			<span class="input-group-addon" id="yourname"><span class="glyphicon glyphicon-lock"></span></span>
			<input type="Password" class="form-control" placeholder="password"><br/>
		</div>
		<label>Confirm password</label><br/>
		<div class="input-group">
			<span class="input-group-addon" id="yourname"><span class="glyphicon glyphicon-lock"></span></span>
			<input type="password" class="form-control" placeholder="confirm password"><br/>
		</div>
		<button type="button" class="btn btn-primary btn-block btn-lg">Register</button><br/>
		<div class="lbllogin">Login</div>
</div>
